h1
{
    border-bottom-style:dashed;
   color:slateblue;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table 
{
    background-color:honeydew;   
    border-color:navajowhite;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

table th
{
    background-color:cadetblue;
    color:white
    
}
.t1
{
   background-color:antiquewhite;
}


.t2
{
   background-color:darkseagreen;
   color:white;
}
.t3:hover
{
    background-color:coral;
}
